<div class="row service">
  <div class="col s12">
    <h1>Basement Tanking and Basement Conversions</h1>
    <%= image_tag "basement-conversion.jpg" %>
    <p>Many old homes have basements below the water level that were never intended to be used as habitable space. This results in the external walls being subject to water pressure leading to an ingress of damp through the brick work and even pools of water collecting at the lowest points. Renovating your basement to add an extra living space, much like a loft conversion, can add considerable value to your property. Done incorrectly it can have disastrous results to both your property and wallet. The Damp Doctor offers a full range of Kingfisher and Eco-dry approved tanking systems to ensure your basement stays dry and damp free for years to come. To discuss any of our solutions or for a free no obligation quote <%= link_to "please contact us.", "#" %></p>
  </div>
</div>
