<div class="row service">
  <div class="col s12">
    <h1>Repairing Flood or Leak Damage</h1>
    <%= image_tag "leak-damage.jpg" %>
    <p>If your property has suffered from water damage caused by flooding, leaking pipes, faulty guttering or a leaking roof, water will have gotten into the walls. Even after drying out, salts from the water remain in the wall that if left untreated will over time cause the repaired wall to deteriorate and come away. The Damp Doctor offer a range of specialist treatments to neutralise the damaging salts left behind by water damage and can then repair your property with a full range of building services. <%= link_to "Contact us for full details.", "#" %></p>
  </div>
</div>
