<h1>Damp proof your home with The Damp Doctor today</h1>
<h2>Is your home showing any of these signs of damp problems?</h2>
<ul class="light">
  <li>Damaged or rotting skirting boards?</li>
  <li>Mould staining to internal or external walls?</li>
  <li>Peeling paint and wallpaper?</li>
  <li>Damp patches on walls or ceilings?</li>
  <li>Fungal growths in dark corners?</li>
  <li>Musty damp smells?</li>
</ul>

<p class="light">If it is, then you probably have a problem with damp in your home. It can be caused by a variety of underlying issues including rising damp, penetrating damp, condensation or flood damage. Our damp proofing services will fix the damage and rectify the underlying cause of the damp.</p>
<p class="light">Damp is not only unsightly, it can cause very expensive structural damage to your home. And living in a damp property can cause all sorts of health problems such as asthma and breathing difficulties, particularly in children and the elderly.</p>
