<div class="row service">
  <div class="col s12">
    <h1>Monocouche Render</h1>
    <%= image_tag "monocouche-render.jpg" %>
    <p>Monocouche renders are a one coat through coloured external finish, which offer a weather resistant, low maintenance and highly durable finish suitable for most types of brick or block work.</p>
  </div>
</div>
