<div class="row service">
  <div class="col s12">
    <h1>Penetrating Damp Treatment</h1>
    <%= image_tag "penetrating-damp.jpg" %>
    <p>Damp comes in many forms and the causes of it are as varied as the symptoms. The damage damp causes to your property can be huge if left untreated along with the many adverse health risks it can carry, promoting all forms of mold growth. People with health conditions such as asthma can be seriously affected by damp in your home and it should not be ignored.</p>

    <p>Penetrating damp is usually caused by structural problems in a building such as, faulty guttering, roofing or damaged brick work. Penetrating damp often shows up through damp patches on walls, ceilings or floors, which may darken when it rains. You may see walls which are flaking, peeling or discoloured. The Damp Doctor offers a range of solutions to not only address and repair the internal damage caused by the damp, but also fix the source of the penetrating damp to ensure it never returns. <%= link_to "Contact us to arrange a survey of your property.", contact_path %></p>

  </div>
</div>
