<div class="row service">
  <div class="col s12">
    <h1>Plastering</h1>
    <%= image_tag "plastering.jpg" %>
    <p>Professional plastering services from a simple patch repair to a full house renovation, The Damp Doctor has it covered. Our range of plastering services include but are not limited to:</p>

    <ul>
      <li>Boarding</li>
      <li>Dot & Dabbing</li>
      <li>Patch repairs</li>
      <li>Skimming</li>
      <li>Artex covering</li>
      <li>Coving</li>
      <li>Ceilings</li>
      <li>Major renovations</li>
      <li>New builds</li>
    </ul>
  </div>
</div>
