<div class="row service">
  <div class="col s12">
    <h1>Rising Damp Treatment</h1>
    <%= image_tag "rising-damp-large.jpg" %>
    <p>Damp comes in many forms and the causes of it are as varied as the symptoms. The damage damp causes to your property can be huge if left untreated along with the many adverse health risks it can carry, promoting all forms of mold growth. People with health conditions such as asthma can be seriously affected by damp in your home and it should not be ignored.</p>

    <p>Rising damp is caused by groundwater moving up through a wall. Most walls allow some water in, but it is usually stopped from causing damage by a barrier called damp-proof course. If this is missing or has failed your wall may suffer from rising damp. This type of damp can also happen when the level of the ground outside is higher than your damp-proof course, allowing water to get above it. If you have rising damp you may noticed damaged skirting boards, floorboards, crumbling  or stained plaster and peeling paint or wallpaper. The Damp Doctor can offer complete solutions to repair or replace a damaged or faulty damp-proof course and treat the internal damage ensuring it never returns. <%= link_to "Contact us for full details.", "#" %></p>
  </div>
</div>
