<div class="row service">
  <div class="col s12">
    <h1>Wet Rot and Dry Rot</h1>
    <%= image_tag "rot.jpg" %>
    <p>Dry and wet rot are caused by a fungi that is often “at home” in dark, poorly ventilated cavities and under-floor spaces, where they simply need a single moisture source to start expanding and spreading to decay adjacent timbers. When such fungi attack is discovered specialist treatment is required as soon as possible. The Damp Doctor is both an Eco-dry and Kingfisher approved and trained contractor with specialist knowledge and equipment to deal with any form of rot.</p>
    <h2>Dealing with rot</h2>
    <h3>1. Identify the fungus</h3>
    <p>Our specially trained staff will first need to identify the type of rot that is present to ensure the correct treatment is used.</p>
    <h3>2. Locate the source</h3>
    <p>Fungal attack will often (but not always) be traceable back to a structural defect providing a moisture source. In the case of “dry rot” this could be rising or penetrating damp creating an ideal environment beneath a floor or cavity. Or it could be a leaky roof. Whatever the case, The Damp Doctor is equipped to resolve any structural defect, ensuring the fugus will not return post treatment.</p>
    <h3>3. Determine the extent of infection</h3>
    <p>Dry rot can travel through cavities, voids and even through masonry to find a food source so it is important to determine the extent of the infection by following strands and exposing areas which may be contaminated. Early treatment is essential as “dry rot” can spread quickly and cause severe and expensive structural problems if left unchecked.</p>
    <h3>4. Treatment of masonry</h3>
    <p>Masonry and plasters contaminated with dry rot need to be treated with a specialist fungicidal solution to kill the fungus in-situ and prevent dormant strands from re-growing in search of a new timber host.</p>
    <h3>5. Treatment of timber</h3>
    <p>All affected timber areas again need to be treated with the correct fungicide and then protected with a specialist coating to prevent future outbreaks.</p>
  </div>
</div>


