<div class="row service">
  <div class="col s12">
    <h1>Woodworm Treatment</h1>
    <%= image_tag "wood-worm.jpg" %>
    <p>A number of insects, mainly beetles, are able to use wood as a food source and some of them can cause serious damage to building timbers. Left untreated Wood Worm can spread throughout your home causing expensive and at times irreparable damage. </p>
    <p>Signs of wood worm usually consist of holes in the wooden item, with live infestations showing powder (faeces) around the holes. The size of the holes varies, but are typically 1mm to 1.5mm in diameter for the most common household species. Adult beetles which emerged from the wood may also be found in the summer months. Typically the adult beetles lay eggs on, or just under the surface of, a wooden item. The resulting grubs then feed on the wooden item causing both structural and cosmetic damage, before pupating and hatching as beetles which then breed, lay eggs, and repeat the process causing further damage.</p>
    <p>A building with a woodworm problem in the structure or furniture probably/possibly also has a problem with excess damp. The issue could be lack of ventilation in a roof space, cellar or other enclosed space within an otherwise dry building. Whilst damp is a leading factor resulting in woodworm some species of wood boring insect, such as the wood boring Weevil, are only found in instances where fungal rot has already begun to occur. Treatment from early identification is important as the damage caused to your property can be severe if ignored.</p>
    <p>There are several different types of beetle that cause an infestation and each has a different life cycle. Understanding this and being able to identify the type of infestation is required so that a proper treatment plan may be formulated to deal with the live beetles and larvae along with the eggs that are laid which can take as long as 5 years to hatch. The Damp Doctor staff are all specially trained to identify the type of wood worm infestation and put together an appropriate treatment and care package to ensure your wood worm infestation is dealt with and never returns.</p>
  </div>
</div>
