/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";


main {
  p {
    @extend .light;
  }
  margin-bottom: 1em;
  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.5em;
  }
  ul {
    padding-left: 1em;
    li {
      list-style-type: disc;
    }
  }
  .container {
  }
}

.logo {
  height: 40px;
  margin-top: 12px;
}

.navbar-fixed {
  margin-top: 64px;
}

.contact-info {
  height: 64px;
  line-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  span {
    font-size: 1.3em;
    &:before {
      margin-right: 0.5em;
    }
  }
}

.side-nav {
  .collapsible-body li a {
    margin: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-fixed {
    //margin-top: 0;
  }
  .logo {
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  .social-links {
    text-align: center;
    width: 3.3em;
    margin: 0 auto;
    i {
      float: none;
    }
    a {
      text-align: center;
    }
    span {
      text-align: center;
    }
  }
}

.social-links {
  i {
    font-size: 1.1em;
    float: right;
    margin: 0 0.3em 0 0.3em;
    &:before {
      @extend .hoverable, .circle;
    }
  }
}

.footer {
  @extend .light;
  .container {
    width: 95%;
  }
  width: 100%;
  padding: 1em 0 0.5em 0;
  @extend .white-text;
  h5 {
    text-align: center;
  }
  ul {
    text-align: center;
  }
}

.footer-copyright {
  padding: 0.5em;
}

#map-canvas {
  width: 100%;
  height: 300px;
}

.testimonials {
  i {
    font-size: 2.5em;
  }
  p {
    text-align: center;
    font-style: italic;
  }
  .name {
    text-align: right;
    font-weight: 500;
    font-style: normal;

  }
}

.card-content {
 // min-height: 195px;
}

.service {
  img {
    margin: 0 0 1em 1.5em;
    float: right;
    @extend .responsive-img, .z-depth-1;
  }
  h3 {
    font-size: 1.3em;
  }
  ul {
    @extend .light;
  }
}

.footer-services {
  li {
    margin-bottom: 0.5em;
  }
}

.footer-contact-info {
  h6 {
    margin: 0.5em 0 0.5em 0;
    display: block;
    &:before {
      margin-right: 0.5em;
      line-height: 1.5em;
    }
  }
  p {
    margin: 0;
  }
}
