<div class="contact-info blue">
  <div class="container">
    <span class="white-text mdi-hardware-phone-android">Call us on 0777544334</span>
    <span class="social-links">
      <a href="#!">
        <i class="icon-facebook"></i>
      </a>
      <a href="#!">
        <i class="icon-google-plus"></i>
      </a>
      <a href="#!">
        <i class="icon-twitter"></i>
      </a>
    </span>
  </div>
</div>
